@import "src/ui-kit/styles/vars";

.perk {
    background: $dark-gray;
    border-radius: 15px;
    width: 100%;
    height: 77px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}
